:root {
  --color-primary: #ff0000;
  --color-secondary: #00ff00;
  --color-tertiary: #0000ff;
  --max-width-desktop: 1320px;
}
.inter {
  font-family: "Inter", sans-serif;
}

.hidden-scrollbar {
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none; /* Hides the scrollbar in Internet Explorer and Edge */
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in Chrome, Safari, and Opera */
}
.mt-30 {
  margin-top: 30px !important;
}
