:root {
  --color-primary: #ff0000;
  --color-secondary: #00ff00;
  --color-tertiary: #0000ff;
  --max-width-desktop: 1320px;
}
.inter {
  font-family: "Inter", sans-serif;
}

.hidden-scrollbar {
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none; /* Hides the scrollbar in Internet Explorer and Edge */
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in Chrome, Safari, and Opera */
}
.mt-30 {
  margin-top: 30px !important;
}

.my-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.text-ellipsis,
.text-ellipsis-4,
.text-ellipsis-3,
.text-ellipsis-2,
.text-ellipsis-1 {
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: end;
  overflow: hidden;
  vertical-align: bottom;
}

.text-ellipsis-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.text-ellipsis-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.text-ellipsis-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.text-ellipsis-4 {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-50 {
  gap: 50px;
}

.gap-55 {
  gap: 55px;
}

.w-100 {
  width: 100%;
}
